
/.godot
.godot/editor/character_body_2d.tscn-editstate-25eb6ab7203e76730ffb59dd2891996c.cfg
.godot/editor/character_body_2d.tscn-folding-25eb6ab7203e76730ffb59dd2891996c.cfg
.godot/editor/CharacterBody2D.gd-folding-f5df33d8d6c8d4e4bdeb38b3bdf1a814.cfg
.godot/editor/editor_layout.cfg
.godot/editor/filesystem_cache8
.godot/editor/node_2d.tscn-editstate-362256a061aa8890e9a1e558b11e5ec3.cfg
.godot/editor/projectile.tscn-editstate-91c8f3c00cb04423be3420503ec3abc7.cfg
.godot/editor/script_editor_cache.cfg
.godot/editor/tile_map.tscn-editstate-22792ee0018d439a895e1f6e6e7db267.cfg
.godot/uid_cache.bin
/.godot
